.content-stat {
    height: 275px;
    width: 295px;
    margin-top: 10px;
    margin-left: 20px;

    .perf {
        font-size: 14px;
        font-weight: 600;
        color: rgb(114, 114, 114);
        margin-left:25px;
    }
}
