.dash-stats-quality {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin-top: 25px;

    .circle-quality {
        width: 25%;
        max-height: 100px;

        #chart-circle {
            min-height: 0px !important;
            height: 100px;
        }
    }

    .chrono-quality {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        padding: 10px;

        .fa-arrow-right {
            margin-bottom: 25px;
        }

        .box-quality {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            margin-top: 25px;
            margin-bottom: 15px;

            .periode-quality {
                font-weight: 500;
                color: #a0a0a0;
            }

            .trait {
                &-rouge-quality {
                    background: rgba(228, 0, 0, 0.829);
                    margin-top: 13px;
                    width: 110px;
                    height: 2px;
                }

                &-orange-quality {
                    background: #ffa405;
                    margin-top: 13px;
                    width: 110px;
                    height: 2px;
                }

                &-jaune-quality {
                    background: #ffde05;
                    margin-top: 13px;
                    width: 110px;
                    height: 2px;
                }

                &-vert-quality {
                    background: #b8e22f;
                    margin-top: 13px;
                    width: 110px;
                    height: 2px;
                }

                &-vert-fonce-quality {
                    background: #00b900;
                    margin-top: 13px;
                    width: 110px;
                    height: 2px;
                }
            }

            .nb-contact-quality {
                margin-top: 13px;
                font-weight: 500;
                color: #bebebe;
            }

            .pourcentage-quality {
                margin-top: 5px;
                font-weight: 500;
                color: #555555;
                font-size: 15px;
            }
        }
    }
}