.top-salesperson {
    margin-top: 20px;
    thead {
        th {
            color: #B3B3B3;
        }
    }
    img {
        max-width: 30px;
    }

    i {
        margin: 0 10px;
    }

    .fa-arrow-up {
        color: #2CCC71;
    }

    .bulle {
        color: #fff;
        background-color: #FFA200;
        border-radius: 11px;
        padding: 3px 10px;
    }
}