<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Commercial du mois</th>
        <th scope="col">Score</th>
        <th scope="col">Gagnés</th>
        <th scope="col">Mis à jour</th>
        <th scope="col">Perdus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"><img src="../assets/img/account/profile-img.png"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
        <td><span class="bulle">26</span></td>
        <td>5</td>
        <td>24</td>
        <td>3</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>