<div class="login-page" *ngIf="apiConnection.loading == false; else loader">
  <div class="block-login" >

    <img class="logo" src="/assets/img/logoHafa.png">

    <div class="element-login">
      <label>E-mail</label>
      <input #username name="username" value="" type="text">
    </div>
    <div class="element-login">
      <label>Mot de passe</label>
      <input #password name="password" value="" type="password">
    </div>

    <button (click)="connexion(username.value, password.value)">Connexion</button>
    <div class="alert alert-danger" role="alert" *ngIf='this.apiConnection.getErrorMessage() != undefined || error == true'>
      
      <p id="errorMessage" *ngIf='this.apiConnection.getErrorMessage() != undefined || error == true'>{{ this.apiConnection.getErrorMessage() }} {{ errorMessage }}</p>

    </div>

    <p class="footer">Smartleads © tous droits réservés</p>
  </div>

</div>

<ng-template #loader>
  <div  class="login-page">
    <div class="loader-connection">
      <h1>Connexion en cours ...</h1>
      <img src="../../assets/loader.gif" class="img-fluid">
    </div>
  </div>
</ng-template>