<div class="content">
  <div class="dash-france-map">
    <div class="dash-top">
        <h4>Performance par départements</h4>
        <i class="fas fa-ellipsis-h"></i>
    </div>
    <div class="france-map">
        <div class="row">
            <div class="col-8">
                <img class="svg-france" src="../../assets/img/france-departments.svg">
            </div>
            <div class="col-4 score">
                <p>Score</p>
                <ul>
                    <li>
                        <i class="fas fa-circle sup-100"></i>
                        Supérieur à 100</li>
                    <li>
                        <i class="fas fa-circle bet-50-100"></i>
                        Entre 50 et 100</li>
                    <li>
                        <i class="fas fa-circle bet-25-50"></i>
                        Entre 25 et 50</li>
                    <li>
                        <i class="fas fa-circle bet-25-15"></i>
                        Entre 25 et 15</li>
                    <li>
                        <i class="fas fa-circle bet-15-10"></i>
                        Entre 15 et 10</li>
                    <li>
                        <i class="fas fa-circle bet-10-5"></i>
                        Entre 10 et 5</li>
                    <li>
                        <i class="fas fa-circle inf-5"></i>
                        Moins de 5</li>
                </ul>
            </div>
        </div>
    </div>
</div>