<div class="row">
  <div class="col-left">
    <div class="dashboard">
      <div>
          <img class="logo" [src]="logoHafa">
      </div>
      <div class="presentation">
          <h3>{{ dateJour }}</h3>
          <div class="titre">
              <h2>PERFORMANCE COMMERCIALE</h2>
              <h1>TABLEAU DE BORD</h1>
          </div>
        </div>
    </div>
    <div>
    </div>
    <app-performance-map></app-performance-map>
    <app-top-salesperson></app-top-salesperson>
  </div>
  <div class="col-right">
    <div class="statsPerf">
        <app-statistics [apiConnection]='apiConnection'></app-statistics>
        <app-perf-operation></app-perf-operation>
    </div>
    <app-quality-crm></app-quality-crm>
  </div>
</div>

<div class="modal fade show" id="modalLoader" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <label>Chargement des données en cours.</label>
    <img src="../../assets/loader.gif"/>
  </div>
</div>
