<div class="row">
  <div class="col-left">
    <div class="dashboard">
      <div>
          <img class="logo" [src]="logoHafa">
      </div>
      <div class="presentation">
          <h3>Mercedi 23 septembre 2019</h3>
          <div class="titre">
              <h2>PERFORMANCE COMMERCIALE</h2>
              <h1>TABLEAU DE BORD</h1>
          </div>
        </div>
    </div>
    <div>
    </div>
    <app-performance-map></app-performance-map>
    <app-top-salesperson></app-top-salesperson>
  </div>
  <div class="col-right">
    <div class="statsPerf">
        <app-statistics [apiConnection]='apiConnection'></app-statistics>
        <app-perf-operation></app-perf-operation>
    </div>
    <app-monitoring></app-monitoring>
    <app-quality-crm></app-quality-crm>
  </div>
</div>